/***********************************************************
 * Core Colors
 **********************************************************/
// $primary: #1A3163;
$primary-alt: #1b4793;
$primary: #1565c0;
// $primary-alt: #0b4180;
$secondary: #ef998f;
$secondary-alt: #f15942;
$accent: #43badf;
$accent-2: #ffc223;
$accent-3: #c3d173;
$accent-4: #cde6d8;
$accent-5: #fbe1cf;
// $primary: #2E89A5;
// $secondary: #FF8D8D;
// $accent: #E387DF;
// $accent-2: #ffe38d;

$accent-primary: #ffc400;
$accent-background: #ffe9a5;

$text-primary: #4d4d4d;
$text-secondary: lighten(#000, 46%);
$text-disabled: lighten(#000, 62%);
$text-faded: #cecece;
$text-light: #ffffff;
$text-dark: #000000;

$background-dark: #f8f8f8;
$background-light: #ffffff;
$border-light: #ececec;

/***********************************************************
 * Message Colors
 ***********************************************************/

$error-dark: #d84039;
$error-light: #ed473f;

$success-dark: #06ce6a;
$success-light: #00e676;

$warning-dark: #f39c11;
$warning-light: #f2c112;

/***********************************************************
 * Breakpoints
 ***********************************************************/
$breakpoint-phone: 450px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 1024px;

$standard-shadow: 10px 15px 40px -5px rgba(0,0,0,0.188);

@mixin tiny {
    @media (max-width: 374px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$breakpoint-phone}) {
        @content;
    }
}

@mixin tablet-max {
    @media (max-width: #{$breakpoint-tablet}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}

/***********************************************************
 * Sizes
 ***********************************************************/
$gutter: 8px !default;
$gutter-desktop: 16px !default;

$border-radius: 3px !default;

$verticalPadding: $gutter * 3;
$horizontalPadding: $gutter * 2;

$box-shadow: 0px 2px 10px rgba(0,0,0,0.16);

body,
button,
a.button,
input,
textarea,
mat-checkbox,
select,
html {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-family: "Chivo", sans-serif;
}

.container {
    padding: 0 $horizontalPadding;
}

.full-container {
    padding: $verticalPadding $horizontalPadding;
    padding-top: 0;
}
